<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Team Wawsome</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- My CSS -->
    <link href="css/style.css" rel="stylesheet">

<body>

<div class="container">
    <header class="row">
        <h1 class="text-center">There's a story behind me...</h1>
        <h2 class="text-center">Jane Doe</h2>
    </header>
    <section class="row">
        <div class="col-sm-4">
            <img src="/static/img/GIRLS_0001.png" width="100" height="100">
        </div>
        <div class="sm-col-7">
            <h3>What does diversity mean to you?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam neque, blandit id arcu vitae, feugiat pretium lacus. Cras feugiat vestibulum diam, vel sagittis nulla tempus vitae. Sed maximus odio orci, sed porta arcu cursus et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla sit amet augue neque. Praesent elementum massa eu sapien iaculis, ac malesuada nulla hendrerit. Nunc tincidunt cursus libero a consequat. Quisque ultrices vel ante at venenatis. Etiam in diam neque. Cras pulvinar urna ornare, lobortis lectus eu, blandit diam. Fusce sit amet ipsum dictum urna consequat commodo. Morbi ultricies auctor turpis, non scelerisque lectus imperdiet a.</p>
            <h3>How do you encourage others to embrase their diversity?</h3>
            <p>Sed ligula mauris, vestibulum quis eros ullamcorper, facilisis malesuada diam. Integer vitae urna pharetra leo eleifend aliquam tristique sed elit. Aliquam sed nisl finibus, sollicitudin felis vitae, mollis quam. Vivamus dictum massa orci, ac tincidunt lorem cursus non. In hac habitasse platea dictumst. Vivamus eget tristique metus. Nunc at leo non ex tristique iaculis. Curabitur mollis ligula quis fringilla aliquam. Morbi consectetur urna risus.</p>
            <h3>What strengths do you bring as a women in the tech indesty?</h3>
            <p>Aliquam condimentum erat ac turpis elementum, dapibus iaculis lacus suscipit. Curabitur vel volutpat eros, ut consequat massa. Duis mauris sem, fermentum vitae felis vitae, interdum egestas nulla. Sed interdum odio nibh, non semper est varius at. Morbi turpis leo, ultrices ac metus eget, auctor lacinia mi. Morbi vel rutrum ante. Vestibulum sapien ligula, gravida sit amet tempor sit amet, placerat malesuada ex. Vestibulum vel consequat quam. Nulla venenatis sem eu accumsan rutrum. Phasellus sed condimentum ligula. Curabitur quis erat a nisl pharetra interdum.</p>
            <h3>What is the weirdest job you've ever had?</h3>
            <p>In vitae eleifend leo. Maecenas id augue vestibulum, porta mauris a, venenatis magna. Sed eu sodales eros, id consequat lorem. </p>
        </div>
    </section>

</div><!--END CONTAINER-->
<footer class="container">
    <p class="text-center">&copy; Copyright 2015 Team WAWSOME<br />
    Part of We Code 2015</p>
</footer>







<!-- Bootstrap Core JavaScript  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>